<nav>
    <ul>
        <li><a href="{{ path('app_admin_dashboard') }}">Home</a></li>
        <li><a href="{{ path('admin_projects_index') }}">Projects</a></li>
        <li><a href="{{ path('app_admin_task_index') }}">Tasks</a></li>
        <li><a href="{{ path('app_admin_users') }}">Users</a></li>
        <li><a href="{{ path('app_admin_team_index') }}">Teams</a></li>
        {#<li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Users</a></li>#}
    </ul>
</nav>
